/* HTML Defaults and Generics Classes */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	margin: 0; 
	padding: 0;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

body { 
	background: #fff; 
	color: #444;
	font: 68.75%/1.365 Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}
	h1 { 
		font-size: 1.5em; 
	}
	h2 { 
		font-size: 1.3em; 
	}
	h3 { 
		font-size: 1.2em;
	}
	h4 { 
		font-size: 1.1em;
	}
	p { 
		font-size: 1em;
	}
	
	table { 
		}
		caption { 
			font-size: 1em; 
			text-align: left;
		}
		th { 
			font-size: 1em;
			text-align: left;
			}
			th th {
				font-size: 1em;
			}
		td { 
			padding: 0;
			font-size: 1em;
			}
			td td {
				font-size: 1em;
			}
	ul, ol {
		list-style: none;
		}
		li {
			font-size: 1em;
			}
			li li {
				font-size: 1em;
			}
			
	hr {
		border: 0; 
		height: 1px; 
		background: #999; 
			*color: #999; 
		margin-bottom: 0;
	}
	a, a:link, a:visited {
		
		}
		a:hover, a:active {
			outline: none;
		}
	img { 
		border: none;
	}
	input, select, textarea {
		font: 1em Verdana, Tahoma, Arial, Helvetica, sans-serif;
	}
	input[type="search"] {
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-webkit-appearance: textfield;
	}
	input.placeholder {
		color: #7f7f7f;
	}
	textarea {
		overflow: auto;
	}
	button {
		overflow: visible;
		width: auto; 
	}

/* Base */

body { 
    background: url(http://static.tumblr.com/p1lyquj/ahQlybn2u/body-bg.png) top left repeat; 
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    color: #4f4f4f; 
    font-size: 14px;
    }

h1 { 
    color: #fff; 
    font-weight: normal; 
    font-size: 64px; 
    margin-bottom: 0; 
    max-width: 830px;
    }
h1 a { color: #fff}
h1 a:hover { 
    color: #fff; 
    text-decoration: none;
    }

h2 { 
    color: #fff; 
    font-weight: normal; 
    font-size: 30px; 
    margin-right: 25px; 
    overflow: hidden;
    }
h2 a { color: #fff !important;}
h2 a:hover { 
    color: #fff !important; 
    text-decoration: none;
    }

h3 { 
    color: #4F4F4F;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
    margin-bottom: 5px;
    }
h3 a:hover { text-decoration: none; }
 
a { 
    color: #4b8dc9; 
    text-decoration: none; 
    outline: none;
    }
a:hover { 
    color: #e79214; 
    text-decoration: underline;
    }

p { 
    margin: 0; 
    padding: 0 0 15px 0;
    }
p img{padding: 5px;}

ul { padding: 10px 0 10px 0;}
ul li{ 
    margin-left: 35px; 
    list-style: square; 
    margin-bottom: 5px;
    }

ol { padding: 10px 0 10px 0;}
ol li{ 
    margin-left: 35px; 
    list-style: circle; 
    margin-bottom: 5px;
    }

p{ 
    margin: 0; 
    padding: 0 0 15px 0;
    }
p img{padding: 5px;}

q:before, q:after { content:''}
strong { font-weight: bold; }
em { font-style: italic; }
a img { border:none; } 

.bold { font-weight: bold;}
.floatleft { float: left !important;}
.floatright { float: right !important;}
.displaynone { display: none;}
.center { text-align: center;}
.clear { clear:both;}

.bebasneueregular, 
h1, h2, h3, h4, h5, h6 { 
    font-family: 'BebasNeueRegular'; 
    font-weight: normal;
    }

.post-content h1, .post-content h2, 
.post-content h3, .post-content h4, 
.post-content h5, .post-content h6 { 
    line-height: normal; 
    height: auto; 
    padding: 0; 
    margin: 0;
    color: #84614A;
    }

.hide-screen {
	position: absolute;
	left: -999em;
    }	

/* Interface */
    
#wrapper {
}
#header { 
    overflow: hidden;
    background: url(http://static.tumblr.com/p1lyquj/Y1Slybn4c/palms.png) bottom left no-repeat;
    }
#header-bg { background: url(http://static.tumblr.com/p1lyquj/GIBlybn3z/header-top-bg.png) top left repeat; }
#header-top { 
    padding: 140px 0 0 190px; 
    position: relative; 
    width: 820px; 
    }
    #header-top h1 { margin-bottom: -21px; }
#header-icons { 
    position: absolute; 
    right: 0px; 
    top: 60px; 
    width: 280px;
    }
    #header-icons a { 
        color: #fff;
        width: 50px;  
        float: right; 
        font-family: 'BebasNeueRegular'; 
        font-weight: normal;
        font-size: 17px;
        margin-left: 5px;
        }
        #header-icons a:hover { text-decoration: underline; }
        
    .btn-rss a { }
    .btn-archive a { }
    .btn-ask a { }
    .btn-write a{ }
    .btn-fb a { }
    .btn-twitter a { }
        
#header-bot { 
    background: url(http://static.tumblr.com/p1lyquj/5fLlybn3k/header-bot-bg.png) top left repeat; 
    height: 30px;
    }

 	#header-end { 
        position:relative; 
        width:100%; 
        overflow:hidden;
        }

#container { 
    width: 1010px; 
    min-height: 600px; 
    padding-bottom: 60px;
    }

#post { 
    margin: 55px 0 0 0;
    position: relative;
    }
    .post-header { 
        height: 30px;
        width: 1010px;
        }
 	
    .post-color { 
        height: 30px; 
        float: left; 
        min-width: 246px; 
        overflow: hidden;
        }
 		
    .post-spacer { 
        float: left; 
        height: 60px; 
        }
 	
    .post-type{ 
        float: left;
        height: 30px;
        max-width: 739px;
        overflow: hidden;
        padding: 0 0 0 190px;
        position: relative;
        }
 	
    .post-info { 
        padding: 20px 0 0 190px; 
        position: relative; 
        width: 820px; 
        font-size: 19px; 
        color: #84614A;
        }
 	
    .post-info .parts { 
        float: left; 
        padding-right: 10px; 
        width: 820px;
        }
        .post-info ul { 
            list-style: none; 
            float: left; 
            padding: 0px; 
            max-width: 820px;
            }
            .post-info li { 
                display: inline; 
                padding-right: 10px; 
                margin-left: 0px; 
                word-wrap:break-word;
                }
                
    .tags { padding-left: 10px;}
    
    .post-content { 
        padding: 15px 0 0 190px; 
        position: relative; 
        width: 820px; 
        line-height: 22px; 
        word-wrap:break-word;
        }
    
        .post-content p{ word-wrap: break-word !important; }
        .post-content img { border: 6px solid #fff;}
        .post-content .albumart img {border: none;}

    blockquote { 
        border-left: 3px solid; 
        padding-left: 10px; 
        margin-bottom: 10px;
        }
        blockquote p { padding-bottom: 0px; }

    .chat { 
        list-style: none; 
        margin-bottom: 15px; 
        margin-left: 0; 
        }
        
    .message { 
        width: 720px; 
        float: right; 
        padding-top: 3px; 
        }
        
    .answertags { 
        font-size: 18px; 
        margin-right: 5px; 
        padding-top: 6px; 
        float: left; 
        width: 90px; 
        text-align: right;
        }
        
    .name { 
        font-size: 15px; 
        font-weight: bold; 
        margin-right: 5px; 
        padding-top: 3px; 
        float: left; 
        width: 90px; 
        text-align: right;
        }
        
    .notes { 
        max-width: 820px; 
        padding-top: 35px;
        }
        
    .notes li { 
        margin-left: 0px; 
        padding: 10px 0 10px 0; 
        border-bottom: 1px solid #a3a3a3;
        list-style: none;
        }
    
    .more_notes_link_container { border: none !important; font-weight: bold}

#quotes {margin-bottom: 30px}
#tagsdisplay { width: 820px; padding: 40px 0 0 190px;}
    
    #navigation { padding: 10px 0 0 0;}
    #navigation ul {
        list-style: none;
        text-align: right;
    }
    #navigation ul  li { list-style: none; }
    #navigation ul li a {
        font-size: 25px;
        line-height: normal;
        color: #F15D55;
        }

#description { 
    width: 820px; 
    padding: 5px 0 0 190px;
    text-align: right;
    }
#contact-info  {
    text-align: left;
    text-transform: lowercase;
    color: #84614A;
    padding: 0 0 0 190px;
    }

#footer{ }
#footer-bg { 
    background: url(http://static.tumblr.com/p1lyquj/GIBlybn3z/header-top-bg.png) top left repeat;
    }

#footer-top {     
    background: url(http://static.tumblr.com/p1lyquj/5fLlybn3k/header-bot-bg.png) top left repeat; 
    height: 50px;
    }
 #footer-end {
    position:relative; 
    width:100%; 
    overflow:hidden;
    }
 	
#footer-bot { 
    height: 153px; 
    padding: 20px 0 0 190px; 
    width: 820px;
    text-align: right;
    }
    
    
    .btn-prev a { 
        float: left;
        margin-right: 5px;
        color: #fff; 
        font-family: 'BebasNeueRegular';
        font-size: 17px;
        }
    .btn-prev a:hover{ text-decoration: underline; }
    .btn-next a{ 
        float: left; 
        color: #fff; 
        font-family: 'BebasNeueRegular';
        font-size: 17px;
        }
    .btn-next a:hover{ text-decoration: underline; }

 	

 	